<h1 style="text-align:center" class="text-success"><b>CALCIOPOLI</b></h1>
<br>
<div class="container-grid" id="container-grid ">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="p-5">
    <h2 class="text-danger p-2"><b>REGISTER</b></h2>
    <div class="form-row m-2">
      <div class="col">
        Nome
        <input type="text" class="form-control" placeholder="Nome" [formControl]="myForm.controls['nome']">
        <div *ngIf="myForm.controls['nome'].hasError('required')" class="text-danger">Il nome è richiesto</div>
      </div>
      <div class="col">
        Cognome
        <input type="text" class="form-control" placeholder="Cognome" [formControl]="myForm.controls['cognome']">
        <div *ngIf="myForm.controls['cognome'].hasError('required')" class="text-danger">Il cognome è richiesto</div>
      </div>
    </div>
    <div class="m-3">
      Squadra
      <input type="text" class="form-control" placeholder="Squadra" [formControl]="myForm.controls['squadra']">
      <div *ngIf="myForm.controls['squadra'].hasError('required')" class="text-danger">La squadra è richiesta</div>
    </div>
    <div class="m-3">
      Password
      <input type="password" class="form-control" placeholder="Password" [formControl]="myForm.controls['password']">
      <div *ngIf="myForm.controls['password'].hasError('required')" class="text-danger">La password è richiesta</div>
    </div>
    <div class="m-3">
      Email
      <input type="email" class="form-control" placeholder="example@gmail.com" [formControl]="myForm.controls['email']">
      <div *ngIf="myForm.controls['email'].hasError('required')" class="text-danger">L'email è richiesta</div>
    </div>
    <div *ngIf="!myForm.valid" class="text-danger m-3"><h4>Il form per la registrazione non è valida</h4></div>
        <h4 *ngIf="registerEffettuato" class="text-success mt-3 p-3">REGISTRAZIONE EFFETTUATA</h4>
        <button class="m-3 btn btn-success btn-block btn-md w-25 float-right" type="submit" [disabled]="!myForm.valid">Registrati</button>
  </form>
  <form [formGroup]="LoginForm" (ngSubmit)="login(LoginForm.value)" class="p-5">
    <h2 class="text-danger p-2"><b>LOGIN</b></h2>
    <div class="col">
      Email
      <input type="text" class="form-control" placeholder="example@gmail.com" [formControl]="LoginForm.controls['email']">
      <div *ngIf="LoginForm.controls['email'].hasError('required')" class="text-danger">L'email è richiesta</div>
    </div>
    <br>
    <div class="col">
      Password
      <input type="password" class="form-control" placeholder="Password" [formControl]="LoginForm.controls['password']">
      <div *ngIf="LoginForm.controls['password'].hasError('required')" class="text-danger">La password è richiesta</div>
    </div>
    <div *ngIf="!LoginForm.valid" class="text-danger m-3"><h4>Il form per il login non è valido</h4></div>
      <h4 *ngIf="loginEffettuato" class="text-success mt-3 p-3">LOGIN EFFETTUATO</h4>
      <h4 *ngIf="logoutEffettuato" class="text-danger mt-3 p-3">LOGOUT EFFETTUATO</h4>
      <h4 *ngIf="pwemailsbagliata" class="text-danger mt-3">PASSWORD/EMAIL SBAGLIATI</h4>
      <button [disabled]="!schiacciaLogin" class="m-3 btn btn-danger btn-block btn-md w-25 float-right" type="submit" (click)="logout()">Logout</button>
      <button class="m-3 btn btn-success btn-block btn-md w-25 float-right" type="submit" [disabled]="!LoginForm.valid">Login</button>
  </form>
</div>
<hr>
<button class="m-3 btn btn-success btn-block btn-md w-25 float-right" (click)="hidea(a)" type="submit" [disabled]="!l">SHOW/HIDE LISTA ALLENATORI</button>
<br>
<div class="m-3 text-center" *ngIf="a">
  <ul class="mt-5 list-group">
      <h3 class="text-danger text-center"><b>LISTA DEGLI ALLENATORI REGISTRATI</b></h3>
      <br>
      <div class="container-allenatori">
        <li *ngFor="let a of allenatori" class="list-group-item border-primary m-3" style="background-color: lightblue"><b class="text-success">{{ a.nome }} {{a.cognome}}</b> ({{a.squadra}}) <br> eMail: {{a.email}}</li>
      </div>
  </ul>
</div>
<br>
<hr>
<button class="m-3 btn btn-success btn-block btn-md w-25 float-right" (click)="hideb(b)" type="submit" [disabled]="!l">SHOW/HIDE AGGIUNTA NUOVI CALCIATORI</button>
<br>
<br>
<app-post *ngIf="b" [nomeAllenatoreOnline]="nomeAllenatoreOnline" [cognomeAllenatoreOnline]="cognomeAllenatoreOnline" [squadra]="squadra" [emailAllenatoreOnline]="emailAllenatoreOnline"></app-post>



